/*HERO START*/
.hero_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio_tekst {
  font-family: "Inter", serif;
  font-size: 70px;
  color: #c71d1e;
}

.hero_clararyehauge {
  line-height: 35px;
  transform: rotate(270deg);
  padding-top: 148px;
  padding-left: 5px;
}

.clara {
  padding-left: 96px;
  font-size: 32px;
}

.mighero {
  width: 150%;
  padding-top: 113%;
}

@media (min-width: 500px) {
  .hero_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mighero {
    width: 147%;
    padding-top: 54%;
  }
}

@media (min-width: 600px) {
  .hero_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mighero {
    width: 123%;
    padding-top: 34%;
  }
}

@media (min-width: 800px) {
  .hero_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .portfolio_tekst {
    font-size: 92px;
  }

  .clara {
    padding-left: 105px;
    font-size: 37px;
  }

  .ryehauge {
    font-size: 43px;
    padding-right: 13px;
  }

  .mighero {
    width: 100%;
    padding-top: 30%;
  }
}

@media (min-width: 1000px) {
  .hero_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .portfolio_tekst {
    font-size: 155px;
  }

  .mighero {
    width: 150%;
    padding-top: 150%;
  }

  .hero_clararyehauge {
    line-height: 66px;
    transform: rotate(270deg);
    padding-top: 370px;
  }

  .clara {
    padding-left: 276px;
    font-size: 65px;
  }

  .ryehauge {
    font-size: 93px;
    padding-right: 13px;
  }
}

@media (min-width: 1050px) {
  .hero_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .portfolio_tekst {
    font-size: 155px;
  }

  .mighero {
    width: 150%;
    padding-top: 113%;
  }

  .hero_clararyehauge {
    line-height: 66px;
    transform: rotate(270deg);
    padding-top: 370px;
  }

  .clara {
    padding-left: 276px;
    font-size: 65px;
  }

  .ryehauge {
    font-size: 93px;
    padding-right: 13px;
  }
}

@media (min-width: 1100px) {
  .hero_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .portfolio_tekst {
    font-size: 155px;
  }

  .mighero {
    width: 100%;
    padding-top: 100%;
  }

  .hero_clararyehauge {
    line-height: 66px;
    transform: rotate(270deg);
    padding-top: 370px;
  }

  .clara {
    padding-left: 276px;
    font-size: 65px;
  }

  .ryehauge {
    font-size: 93px;
    padding-right: 13px;
  }
}

@media (min-width: 1200px) {
  .hero_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .portfolio_tekst {
    font-size: 155px;
  }

  .mighero {
    width: 93%;
    padding-top: 44%;
  }

  .hero_clararyehauge {
    line-height: 66px;
    transform: rotate(270deg);
    padding-top: 370px;
  }

  .clara {
    padding-left: 276px;
    font-size: 65px;
  }

  .ryehauge {
    font-size: 93px;
    padding-right: 13px;
  }
}
/*HERO SLUT*/

.baggrundsfarveboks1 {
  background-color: #c71d1e;
  padding: 60px;
  margin-top: 6rem;
}

.introduktion {
  color: #ffffff;
  display: grid;
  justify-content: center;
}

@media (min-width: 400px) {
  .tekststykke1_1 {
    padding-left: 25px;
    color: white;
    display: grid;
    justify-content: center;
    max-width: 49rem;
  }
}

.mineprojekter_tekst_forside {
  display: grid;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

@media (min-width: 400px) {
  .tekststykke1_2 {
    max-width: 32rem;
    padding-top: 10px;
  }
}

@media (min-width: 600px) {
  .tekststykke1_2 {
    max-width: 32rem;
    padding-left: 25px;
    padding-top: 10px;
  }
}

.knap_læs_mere {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff6e1;
  color: #c71d1e;
  border: 2px solid #c71d1e;
  text-decoration: none;
  width: 200px;
  padding: 15px;
  margin-bottom: 35px;
  font-family: "Inter", serif;
  font-size: 12px;
}

/*media 400*/
@media (min-width: 400px) {
  .mineprojekter_forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .temaer_forside {
    position: relative;
    width: 100%;
    height: 250px;
  }

  .temaer_forside img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    display: block;
  }

  .knap_mineprojekter_forside {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c71d1e;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .temaer_forside:hover .knap_mineprojekter_forside {
    opacity: 1;
  }
}

/*media 800*/
@media (min-width: 800px) {
  .mineprojekter_forside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
  }

  .temaer_forside {
    position: relative;
    width: 100%;
    height: 250px;
  }

  .temaer_forside img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    display: block;
  }

  .knap_mineprojekter_forside {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c71d1e;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .temaer_forside:hover .knap_mineprojekter_forside {
    opacity: 1;
  }
}

/*media 1200*/
@media (min-width: 1200px) {
  .mineprojekter_forside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
    padding-bottom: 5rem;
  }

  .temaer_forside {
    position: relative;
    width: 100%;
    height: 250px;
  }

  .temaer_forside img {
    width: 100%;
    height: 75%;
    object-fit: contain;
    display: block;
  }

  .knap_mineprojekter_forside {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c71d1e;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .temaer_forside:hover .knap_mineprojekter_forside {
    opacity: 1;
  }
}

.logo_forside {
  max-width: 35%;
  margin-right: 14rem;
  justify-self: end;
}
