.knap_sehjemmeside_tema_04 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff6e1;
  color: #c71d1e;
  border: 2px solid #c71d1e;
  text-decoration: none;
  width: 200px;
  padding: 15px;
  margin-bottom: 35px;
  font-family: "Inter", serif;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease;
}

.knap_sehjemmeside_tema_04:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

@media (min-width: 800px) {
  .tekststykke4_1 {
    padding-left: 25px;
    max-width: 34rem;
  }
}

@media (min-width: 800px) {
  .tekststykke4_2 {
    max-width: 28rem;
  }
}

@media (min-width: 800px) {
  .tekststykke4_3 {
    max-width: 50rem;
    display: grid;
    justify-content: center;
    margin-bottom: 6rem;
  }
}

.knap_prototype_tema_04 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff6e1;
  color: #c71d1e;
  border: 2px solid #c71d1e;
  text-decoration: none;
  width: 200px;
  padding: 15px;
  margin-bottom: 35px;
  font-family: "Inter", serif;
  font-size: 12px;
}
